wandb>=0.17.4
ruamel.yaml
configmypy>=0.2.0
tensorly>=0.8.1
tensorly-torch
torch-harmonics
matplotlib>=3.9.0
opt-einsum>=3.3.0
h5py>=3.11.0
zarr>=2.18.2

torch>=2.3.1
torchtnt>=0.2.4
numpy>=2.0.0
comm>=0.2.2
pytest>=8.2.2
requests>=2.31.0
flaky>=3.8.1
pandas>=2.2.2
click>=8.1.6
setuptools>=68.1.2